/* BASE STYLES */

body {
    background-color: #A60F0F;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* HOMEPAGE */

.homepage h1,
.homepage h2 {
    margin: 0;
    min-width: 470px;
    text-align: center;
}

.homepage h1 {
    font-family: 'Pattaya', sans-serif;
    font-size: 80px;
    padding-top: 50px;
    text-shadow: 3px 1px white;
}

.homepage h2 {
    font-size: 40px;
    margin-bottom: 100px;
}

.homepage ul {
    margin: auto;
    max-width: 1450px;
    padding: 0;
}

.homepage li {
    border: black solid 10px;
    display: inline-block;
    margin: 0 80px;
    text-align: center;
}

.spotlight-box {
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 300px;
}

.spotlight-box p {
    color: white;
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 40%;
    width: 300px;
}

.spotlight-box:hover p {
    visibility: hidden;
}

.spotlight-box a {
    opacity: 0.2;
}

.spotlight-box a:hover {
    opacity: 1;
}

.spotlight-box img {
    display: block;
    height: auto;
    width: 100%;
}